@charset "utf-8";

.media {
  display: table;
  &__img {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
  }
  &__text {
    display: table-cell;
    vertical-align: middle;
  }
  &__job {
    font-size: $font-size-s;
  }
  &__name {
    font-size: $font-size-m;
    margin-top: 3px;
  }
}