@charset "utf-8";

.staff {
  position: relative;
  &__prev, &__next {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 10px transparent;
    cursor: pointer;
  }
  &__prev {
    border-bottom: solid 10px $color-primary;
    top: -30px;
  }
  &__next {
    border-top: solid 10px $color-primary;
    bottom: -30px;
  }
  &__item {
    background-color: rgba(0, 255, 255, .25);
    width: 400px;
    height: 110px;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
  }
}