@charset "utf-8";

.staff {
  margin-top: 36px;
  position: relative;
  &__prev, &__next {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 10px transparent;
  }
  &__prev {
    border-bottom: solid 10px #0ff;
    top: -30px;
  }
  &__next {
    border-top: solid 10px #0ff;
    bottom: -30px;
  }
  &__item {
    background-color: rgba(0, 255, 255, .25);
    width: 400px;
    height: 110px;
    margin: 0 auto 10px;
  }
}