@charset "utf-8";

html {
  font-size: $font-size-base;
  height: 100%;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  color: $color-default;
  background-color: $bgcolor-default;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  height: 100%;
}

img {
  vertical-align: bottom;
}

a {
  color: $color-link;
  text-decoration: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}