/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-left-accent-name: 'arrow-left-accent';
$arrow-left-accent-x: 630px;
$arrow-left-accent-y: 224px;
$arrow-left-accent-offset-x: -630px;
$arrow-left-accent-offset-y: -224px;
$arrow-left-accent-width: 51px;
$arrow-left-accent-height: 56px;
$arrow-left-accent-total-width: 836px;
$arrow-left-accent-total-height: 488px;
$arrow-left-accent-image: '../img/sprite.png';
$arrow-left-accent: (630px, 224px, -630px, -224px, 51px, 56px, 836px, 488px, '../img/sprite.png', 'arrow-left-accent', );
$arrow-left-primary-name: 'arrow-left-primary';
$arrow-left-primary-x: 630px;
$arrow-left-primary-y: 164px;
$arrow-left-primary-offset-x: -630px;
$arrow-left-primary-offset-y: -164px;
$arrow-left-primary-width: 51px;
$arrow-left-primary-height: 56px;
$arrow-left-primary-total-width: 836px;
$arrow-left-primary-total-height: 488px;
$arrow-left-primary-image: '../img/sprite.png';
$arrow-left-primary: (630px, 164px, -630px, -164px, 51px, 56px, 836px, 488px, '../img/sprite.png', 'arrow-left-primary', );
$arrow-right-accent-name: 'arrow-right-accent';
$arrow-right-accent-x: 740px;
$arrow-right-accent-y: 164px;
$arrow-right-accent-offset-x: -740px;
$arrow-right-accent-offset-y: -164px;
$arrow-right-accent-width: 51px;
$arrow-right-accent-height: 56px;
$arrow-right-accent-total-width: 836px;
$arrow-right-accent-total-height: 488px;
$arrow-right-accent-image: '../img/sprite.png';
$arrow-right-accent: (740px, 164px, -740px, -164px, 51px, 56px, 836px, 488px, '../img/sprite.png', 'arrow-right-accent', );
$arrow-right-primary-name: 'arrow-right-primary';
$arrow-right-primary-x: 685px;
$arrow-right-primary-y: 164px;
$arrow-right-primary-offset-x: -685px;
$arrow-right-primary-offset-y: -164px;
$arrow-right-primary-width: 51px;
$arrow-right-primary-height: 56px;
$arrow-right-primary-total-width: 836px;
$arrow-right-primary-total-height: 488px;
$arrow-right-primary-image: '../img/sprite.png';
$arrow-right-primary: (685px, 164px, -685px, -164px, 51px, 56px, 836px, 488px, '../img/sprite.png', 'arrow-right-primary', );
$clock-name: 'clock';
$clock-x: 795px;
$clock-y: 164px;
$clock-offset-x: -795px;
$clock-offset-y: -164px;
$clock-width: 22px;
$clock-height: 22px;
$clock-total-width: 836px;
$clock-total-height: 488px;
$clock-image: '../img/sprite.png';
$clock: (795px, 164px, -795px, -164px, 22px, 22px, 836px, 488px, '../img/sprite.png', 'clock', );
$counter-1-name: 'counter-1';
$counter-1-x: 420px;
$counter-1-y: 164px;
$counter-1-offset-x: -420px;
$counter-1-offset-y: -164px;
$counter-1-width: 206px;
$counter-1-height: 160px;
$counter-1-total-width: 836px;
$counter-1-total-height: 488px;
$counter-1-image: '../img/sprite.png';
$counter-1: (420px, 164px, -420px, -164px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-1', );
$counter-10-name: 'counter-10';
$counter-10-x: 0px;
$counter-10-y: 328px;
$counter-10-offset-x: 0px;
$counter-10-offset-y: -328px;
$counter-10-width: 206px;
$counter-10-height: 160px;
$counter-10-total-width: 836px;
$counter-10-total-height: 488px;
$counter-10-image: '../img/sprite.png';
$counter-10: (0px, 328px, 0px, -328px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-10', );
$counter-2-name: 'counter-2';
$counter-2-x: 0px;
$counter-2-y: 0px;
$counter-2-offset-x: 0px;
$counter-2-offset-y: 0px;
$counter-2-width: 206px;
$counter-2-height: 160px;
$counter-2-total-width: 836px;
$counter-2-total-height: 488px;
$counter-2-image: '../img/sprite.png';
$counter-2: (0px, 0px, 0px, 0px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-2', );
$counter-3-name: 'counter-3';
$counter-3-x: 420px;
$counter-3-y: 328px;
$counter-3-offset-x: -420px;
$counter-3-offset-y: -328px;
$counter-3-width: 206px;
$counter-3-height: 160px;
$counter-3-total-width: 836px;
$counter-3-total-height: 488px;
$counter-3-image: '../img/sprite.png';
$counter-3: (420px, 328px, -420px, -328px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-3', );
$counter-4-name: 'counter-4';
$counter-4-x: 630px;
$counter-4-y: 0px;
$counter-4-offset-x: -630px;
$counter-4-offset-y: 0px;
$counter-4-width: 206px;
$counter-4-height: 160px;
$counter-4-total-width: 836px;
$counter-4-total-height: 488px;
$counter-4-image: '../img/sprite.png';
$counter-4: (630px, 0px, -630px, 0px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-4', );
$counter-5-name: 'counter-5';
$counter-5-x: 210px;
$counter-5-y: 328px;
$counter-5-offset-x: -210px;
$counter-5-offset-y: -328px;
$counter-5-width: 206px;
$counter-5-height: 160px;
$counter-5-total-width: 836px;
$counter-5-total-height: 488px;
$counter-5-image: '../img/sprite.png';
$counter-5: (210px, 328px, -210px, -328px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-5', );
$counter-6-name: 'counter-6';
$counter-6-x: 420px;
$counter-6-y: 0px;
$counter-6-offset-x: -420px;
$counter-6-offset-y: 0px;
$counter-6-width: 206px;
$counter-6-height: 160px;
$counter-6-total-width: 836px;
$counter-6-total-height: 488px;
$counter-6-image: '../img/sprite.png';
$counter-6: (420px, 0px, -420px, 0px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-6', );
$counter-7-name: 'counter-7';
$counter-7-x: 210px;
$counter-7-y: 164px;
$counter-7-offset-x: -210px;
$counter-7-offset-y: -164px;
$counter-7-width: 206px;
$counter-7-height: 160px;
$counter-7-total-width: 836px;
$counter-7-total-height: 488px;
$counter-7-image: '../img/sprite.png';
$counter-7: (210px, 164px, -210px, -164px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-7', );
$counter-8-name: 'counter-8';
$counter-8-x: 0px;
$counter-8-y: 164px;
$counter-8-offset-x: 0px;
$counter-8-offset-y: -164px;
$counter-8-width: 206px;
$counter-8-height: 160px;
$counter-8-total-width: 836px;
$counter-8-total-height: 488px;
$counter-8-image: '../img/sprite.png';
$counter-8: (0px, 164px, 0px, -164px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-8', );
$counter-9-name: 'counter-9';
$counter-9-x: 210px;
$counter-9-y: 0px;
$counter-9-offset-x: -210px;
$counter-9-offset-y: 0px;
$counter-9-width: 206px;
$counter-9-height: 160px;
$counter-9-total-width: 836px;
$counter-9-total-height: 488px;
$counter-9-image: '../img/sprite.png';
$counter-9: (210px, 0px, -210px, 0px, 206px, 160px, 836px, 488px, '../img/sprite.png', 'counter-9', );
$spritesheet-width: 836px;
$spritesheet-height: 488px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-left-accent, $arrow-left-primary, $arrow-right-accent, $arrow-right-primary, $clock, $counter-1, $counter-10, $counter-2, $counter-3, $counter-4, $counter-5, $counter-6, $counter-7, $counter-8, $counter-9, );
$spritesheet: (836px, 488px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
