@charset "utf-8";

/* font-family */
$font-family-default: Meiryo, "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, Arial, Sans-serif;
$font-family-kozuka: "小塚ゴシック Pr6N";

/* font-size */
$font-size-base: 14px;
$font-size-default: 1rem;

$font-size-xs: 0.78571rem; /* 11px */
$font-size-s: 0.85714rem; /* 12px */
$font-size-m: 1.14286rem; /* 16px */
$font-size-l: 1.28571rem; /* 18px */
$font-size-xl: 1.42857rem; /* 20px */