/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sample-name: 'sample';
$sample-x: 0px;
$sample-y: 0px;
$sample-offset-x: 0px;
$sample-offset-y: 0px;
$sample-width: 120px;
$sample-height: 120px;
$sample-total-width: 120px;
$sample-total-height: 120px;
$sample-image: '../img/sprite.png';
$sample: (0px, 0px, 0px, 0px, 120px, 120px, 120px, 120px, '../img/sprite.png', 'sample', );
$spritesheet-width: 120px;
$spritesheet-height: 120px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sample, );
$spritesheet: (120px, 120px, '../img/sprite.png', $spritesheet-sprites, );


