@charset "utf-8";

.login {
  &__text {
    display: block;
    height: 20px;
  }
  &__submit {
    display: block;
    width: 60px;
    margin: 10px auto 0;
    border: none;
    background-color: #fff;
  }
}