@charset "utf-8";

.media {
  display: table;
  &__img {
    display: table-cell;
    vertical-align: middle;
    &--border {
      border-radius: 50%;
      border: solid 1px $color-primary;
    }
  }
  &__text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
  }
}