@charset "utf-8";

.testModal {
  background-color: rgba(0, 255, 255, .25);
  padding: 20px 0;
  width: 350px;
  text-align: center;
  position: relative;
  &__close {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: $font-size-l;
    cursor: pointer;
  }
  &__text {
  }
  &__form {
    margin-top: 20px;
  }
  &__reset {
    border: none;
    background-color: #fff;
  }
  &__submit {
    border: none;
    background-color: #fff;
  }
}