@charset "utf-8";

.time {
  display: table;
  &__headline {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
  }
  &__en {
    color: $color-primary;
    font-size: $font-size-m;
  }
  &__ja {
    font-size: $font-size-xs;
    text-align: right;
    margin-top: 3px;
  }
  &__entry {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  &__textLabel {
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: -2px;
      bottom: 0;
      left: 14px;
      margin: auto;
      @include sprite($clock);
    }
  }
  &__text {
    color: #fefefe;
    font-size: $font-size-xl;
    padding-left: 58px;
    font-weight: bold;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: solid 1px $color-primary;
    background-color: #004040;
    box-sizing: border-box;
  }
  &__resetLabel {

  }
  &__reset {
    // 一旦非表示
    display: none;
  }
}